.cart-widget button {
   margin-left: 10px;
}

.catalog {
   padding: 80px 40px;
}

.catalog-item {
   padding-bottom: 20px;
   border-bottom: 1px solid #ccc;
   margin-bottom: 20px;
}

.catalog-item::after {
   content: "";
   display: table;
   float: none;
   clear: both;
}

.catalog-item__images {
   float: left;
}

.catalog-item__product {
   padding-left: 240px;
}

.catalog-item__name {
   font-size: 1.25em;
   font-weight: 600;
   padding-bottom: 20px;
}

.catalog-item__descr {
   margin-bottom: 20px;
}

.catalog-item__price {
   margin-bottom: 20px;
}

.catalog-item__images img {
   width: 45px;
   opacity: .5;
   cursor: zoom-in;
   padding-right: 5px;
}

.catalog-item__images img:hover {
   opacity: 1;
}

.catalog-item__images img:first-child {
   width: 150px;
   opacity: 1;
   display: block;
   margin-bottom: 10px;
}

.catalog-item__images img:first-child::after {
   content: "";
   display: table;
   clear: both;
   float: none;
}

.cart {
   position: fixed;
   display: none;
   top: 64px;
   right: 0px;
   bottom: 0px;
   left: 0px;
   background-color: white;
   padding: 16px 40px 80px 40px;
}

.cart-item__count {
   user-select: none;
   margin-bottom: 20px;
}

.cart-item__count > strong {
   display: inline-block;
   width: 30px;
   text-align: center;
}

.cart-item__inc,
.cart-item__dec {
   display: inline-block;
   cursor: pointer;
   width: 23px;
   height: 23px;
   line-height: 23px;
   border-radius: 3px;
   border: 1px solid #ccc;
   text-align: center;
   margin: 0px 5px;
}

.hide-cart {
   cursor: pointer;
   display: block;
   position: fixed;
   top: 80px;
   right: 20px;
   height: 50px;
   width: 50px;
   font-size: 2em;
   border: 1px solid #ccc;
   border-radius: 4px;
   text-align: center;
   line-height: 50px;
}

.cart fieldset {
   border: none;
}

.cart fieldset:last-child {
   border-bottom: 1px solid #ccc !important;
}

.cart label {
   display: inline-block;
   width: 150px;
}

.cart-summ {
   margin: 20px 0px;
   padding: 6px 12px;
   font-size: 1.25em;
   background-color: #f0f9f9;
}
